<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>
<div class="container">

    <div class="starter-template">
        <div class="form-group">
        <select class="form-control input-lg">
            <option th:each="dropDownItem : ${dropDownItems}"
                    th:value="${dropDownItem.value}"
                    th:text="${dropDownItem.key}" />
        </select>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>